<div>
<%= render 'main/navbar' %>
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3" style="margin-top: 20%;">
<% if flash[:notice] %>
  <%= content_tag :h3, flash[:notice], class:'text-center' %>
<% end %>
  <%= content_tag :h3, "User Sign in", class:'text-center' %>
<%= form_with url: sessions_path do |f| %>
  <div class="form-group">
  <%= label_tag :email, 'Email' %><br>
  <%= f.text_field :email , class: 'form-control', placeholder: 'Enter your email'%><br>
  </div>
  <div class="form-group">
  <%= label_tag :password, 'Password' %><br>
  <%= f.password_field :password , class: 'form-control', placeholder: 'Enter your password'%><br>
  </div>
  <div class="row">
      <div class="col-md-6">
        <%= link_to "Forgot your password?", password_reset_path %>
      </div>
      <div class="col-md-6">
        <%= link_to "New User? Sign Up As Trainee", trainee_signup_path %>
      </div>
  <br> </br>
  <div class="button-container">
  <%= f.submit "Sign In" , class: 'btn btn-primary btn-block' %>
  </div>

<% end %>
<% if flash[:alert] %>
  <%= content_tag :h5, flash[:alert], class:'text-center', style:'color:red;'%>
<% end %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  </div>
  </div>
  </div>
</div>



