<style>
  .welcome-message h4 {
    color: black; /* Change this to the color you want */
  }
</style>

<%= render 'main/navbar' %>
<div class="container d-flex justify-content-center align-items-center vh-100 vw-100" style="margin-top:10vh">
<div class="welcome-message mt-4">
<h4>Welcome, <%= @user_name_from_session %></h4>
</div>

  <h1>Ongoing Challenges</h1>

  <div class="d-flex flex-wrap justify-content-center">
    <% @challenges.each do |challenge| %>
      <a href="<%= challenge_path(challenge) %>" class="challenge-tile">
        <h3>Challenge Name: <%= challenge.name %></h3>
        <p>Start Date: <%= challenge.startDate %></p>
        <p>End Date: <%= challenge.endDate %></p>
      </a>
    <% end %>
  </div>

  <%= will_paginate @challenges %>
</div>
