<%= render 'main/navbar' %>

<div style="padding-top: 60px;" class="container">
  <h1>View Trainees Page</h1>
  <% if @trainees_present %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Trainee Name</th>
          <th>View Profile Button</th>
          <th>View Challenges Button</th>
          <th>View Workout Plan Button</th>
          <!-- add future headers here -->
        </tr>
      </thead>
      <tbody>
        <% @trainees.each do |trainee| %>
          <tr>
            <td><%= trainee.full_name %></td>
            <td>
              <%= link_to 'View Profile', trainee_profile_details_path(trainee), class: 'btn btn-primary' %>
            </td>
            <td>
              <%= link_to 'View Challenges', trainee_challenges_path(trainee), class: 'btn btn-primary' %>
            </td>
            <td>
              <%= link_to 'View Workout Plan', trainee_workout_plan_path(trainee), class: 'btn btn-primary' %>
            </td>
            <!-- add future buttons here with new <td> tags for each -->
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No Trainees.</p>
  <% end %>
</div>
