<!-- edit.html.erb -->

<%= render 'main/navbar' %>

<div class="container">
  <div class="form-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 20%;">
      <h2 class="card-title text-center mb-0">Edit Profile</h1>
          <%= form_for @trainee, url: trainee_profile_path, method: :patch do |f| %>
            <div class="row">
              <div class="col-6">
                <h4 style="color: #0080ff;display: inline-block; width: 150px;">Full Name: </h2>
                <%= f.text_field :full_name, class: "form-control", required: true%>
              </div>
              <div class="col-6">
                <h4 style="display: inline-block; width: 150px; color: #0080ff;">Height:</h2>
                <%= f.number_field :height, class: "form-control", required: true, step: 'any'%> ( please enter the height in inches )
              </div>
              <div class="col-6">
                <h4 style="display: inline-block; width: 150px; color: #0080ff;">Weight:</h2>
                <%= f.number_field :weight, class: "form-control", required: true, step: 'any'%> ( please enter the weight in pounds )
              </div>
              <!-- You can add more attributes as needed -->
            </div>
            <br>
            <div class="text-center row" style="margin-bottom: 1%">
                <div class="col-md-6">
                    <%= f.submit "Update Profile", class: "btn btn-primary  btn-block" %>
                </div>
                <div class="col-md-6">
                    <%= link_to "Cancel", trainee_profile_path, class: "btn btn-primary btn-block" %>
                </div>
            </div>
          <% end %>
        </div>
    </div>
</div>

