<style>
.content-box {
    border: 2px solid green;
    padding: 5px;
  }

  .checkbox-cell {
    padding-right: 5px;
  }

  .task-name-cell s {
    text-decoration: line-through;
  }

  .show-challenges-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
</style>
<div>
  <div class="row" style="height: 80px">
    <%= render 'main/navbar' %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
        <h3>  Daily To-Do List </h3>
        <% if flash[:notice].present? %>
          <div class="content-box">
            <h5><%= flash[:notice] %></h5>
          </div>
        <% end %>
      <div class="content-box">
        <%= form_with model: @user, url: todo_list_path, method: :get, data: { turbo: false } do |f| %>
          <div class="form-group">
            <%= f.label :selected_date, 'Select Date' %>
            <%= f.date_field :selected_date, class: 'form-control' %>
          </div>
          <%= f.submit 'Show Tasks', class: 'btn btn-primary' %>
        <% end %>
      </div>
      <% @challenge_to_do_lists.each do |challenge_todo| %>
      <div class="content-box">
      <div class="content-box">
        <h3><%= challenge_todo[:challenge].name %></h3>
        <p>Date: <%= @date.strftime("%B %d, %Y") %></p>
        
        <%= form_with model: @user, url: mark_as_complete_path, method: :patch, data: { turbo: false } do |f| %>
        <ul class="list-group">
            <table >
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% challenge_todo[:todo_list].each do |task_id, status| %>
                        <tr>
                          <td class="checkbox-cell">
                          <%= f.hidden_field "tasks[#{task_id}][task_id]", value: task_id %>
                          <%= f.hidden_field "tasks[#{task_id}][challenge_id]", value: challenge_todo[:challenge].id %>
                          <%= f.hidden_field "tasks[#{task_id}][date]", value: @date %>
                          <%= f.check_box "tasks[#{task_id}][completed]", { class: 'task-checkbox' }, "1", "0" %>
                          </td>
                        <td class="task-name-cell">
                            <% if status == "completed" %>
                            <s><%= Task.find(task_id).taskName %></s>
                            <% else %>
                            <%= Task.find(task_id).taskName %>
                            <% end %>
                        </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </ul>
        
            <div class="text-center">
              <% if @date.present? %>
                <% if @date == Date.today %>
                  <%= f.submit 'Mark as Completed', class: "btn btn-primary" %>
                <% elsif @date == Date.today - 1 && Time.now.hour <= 3 %>
                  <%= f.submit 'Mark as Completed', class: "btn btn-primary" %>
                <% else %>
                  <%= f.submit 'Mark as Completed', class: "btn btn-primary", disabled: true %>
                <% end %>
              <% end %>
              <%= link_to 'View Progress', graph_challenge_path(@challenge, trainee_id: @trainee.id), class: 'btn btn-primary' %>
            </div>
        <% end %>
        </div>
      </div>
      <% end %>
      <a href="<%= show_challenges_path %>" class="btn btn-primary show-challenges-btn">My Challenges</a>
      </div>
      </div>
  </div>

</div>
