<style>
.content-box {
    border: 2px solid green;
    padding: 5px;
  }

  .checkbox-cell {
    padding-right: 5px;
  }

  .task-name-cell s {
    text-decoration: line-through;
  }
</style>
<div>
  <%= render 'main/navbar' %>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 20%;">
      <div class="content-box">
        <h3>Daily To-Do List</h3>
        <p>Date: <%= @date.strftime("%B %d, %Y") %></p>
        <% if flash[:notice].present? %>
          <div>
            <h5><%= flash[:notice] %></h5>
          </div>
        <% end %>
        
        <ul class="list-group">
            <table >
                <thead>
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @todo_list.each do |task_id, status| %>
                        <tr>
                        <td class="checkbox-cell">
                            <%= check_box_tag "tasks[#{task_id}][completed]", "1", (status == "completed") %>
                        </td>
                        <td class="task-name-cell">
                            <% if status == "completed" %>
                            <s><%= Task.find(task_id).taskName %></s>
                            <% else %>
                            <%= Task.find(task_id).taskName %>
                            <% end %>
                        </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </ul>
        
        <%= form_with model: @user, url: mark_as_complete_path(tasks: @tasks), data: {turbo: false} do |f| %>
            <div class="text-center">
                <%= f.submit 'Mark as Completed', class: "btn btn-primary" %>
            </div>

            <%= f.hidden_field :tasks, value: @tasks.to_json.html_safe %>
        <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
