<div>
  <div class="row" style="height: 80px">
    <%= render 'main/navbar' %>
  </div>
  <div class="container">
      <div class="row" style="height: 80px">
        <h2>Ongoing Challenges</h2>
      </div>
      <% if @curr_challenges.empty?() %>
        <p><i> No Ongoing Challenges</i></p>
      <%else%>
        <% @curr_challenges.each do |challenge| %>
          <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border: 1px solid #000;">
            <div class="card-body" style="padding: 10px; display: flex; justify-content: space-between; align-items: center;">
                <div class="row" style="height: 80px">
                    <h3 class="card-title"><%= challenge.name %></h3>
                    <p>Start Date: <%= challenge.startDate %></p>
                    <p>End Date: <%= challenge.endDate %></p>
                </div>
                <div class="text-center row" style="margin: 2%">
                   <button type="button" id="show-progress" class="btn btn-primary btn-block">View Progress</button>
                </div>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="row" style="height: 80px">
        <h2>Past Challenges</h2>
      </div>
      <% if @past_challenges.empty?() %>
        <p><i> No Past Challenges</i></p>
      <%else%>
        <% @past_challenges.each do |challenge| %>
            <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border: 1px solid #000;">
                <div class="card-body" style="padding: 2px 12px 15px 18px; display: flex; justify-content: space-between; align-items: center;">
                    <div class="row" style="height: 80px">
                        <h4 class="card-title"> <%= challenge.name %></h4>
                        <p>Start Date: <%= challenge.startDate %></p>
                        <p>End Date: <%= challenge.endDate %></p>
                    </div>
                    <div class="text-center row" style="margin: 2%">
                       <button type="button" id="show-progress" class="btn btn-primary btn-block">View Progress</button>
                    </div>
                </div>
            </div>
        <% end %>
      <% end %>
  </div>
</div>