<!-- app/views/challenges/add_users.html.erb -->
<%= render 'main/navbar' %>

<div class="container">
  <div class="form-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 20%; text-align:center">
      <!-- Display the success message if present -->
      <% if @message.present? %>
      <div class="alert alert-success">
          <%= @message %>
      </div>
      <% end %>
        <h3>Add Trainees to <%= @challenge.name %></h3>

        <%= form_with url: update_trainees_challenge_path(@challenge) do |form| %>

        <div class="form-field">
            <%= form.collection_select(:trainee_ids, @trainees, :id, :full_name, {}, { multiple: true, class: "form-control" }) %>
            <!-- <%= form.collection_select(:trainee_ids, @trainees, :id, :full_name, {}, multiple: true) %> -->
        </div>
        <br/>
            
        <div class="button-container">
            <%= form.submit 'Add Trainees', class: 'btn btn-primary btn-block' %>
        </div>
        <% end %>
</div>
</div>
</div>
</div>





