<%= render 'main/navbar' %>

<div class="container mt-4" style="display: flex; justify-content: center; margin-top: 10%; margin-bottom:10%">
  <h1><%= @page_title %> </h1>
</div>

<!-- Container for the graph following the navbar -->
<div class="container mt-4" style="flex-direction: column; justify-content: center;  height: 100vh;margin-top: 10%;">
  <form>
  <label for="dropdown">Duration:</label>
  <select id="dropdown" name="dropdown" onchange="handleDropdownChange(this)">
      <option id="alltime" value="option1">All Time</option>
      <option id="lastweek" value="option2">Last Week</option>
  </select>
  </form>


  <div id="chart-container" style="max-width: 100%; min-height: 300px; display: flex; justify-content: center; align-items: center;">
    <canvas id="taskCountChart"></canvas>
  </div>
</div>


<script>
  var dates = <%= @dates_completed.to_json.html_safe %>;
  var counts = <%= @counts_completed.to_json.html_safe %>;

  var dates_not_completed = <%= @dates_not_completed.to_json.html_safe %>;
  var counts_not_completed = <%= @counts_not_completed.to_json.html_safe %>;
  var counts_total = <%= @counts_total.to_json.html_safe %>;

  var container = document.getElementById('chart-container');
  var canvas = document.getElementById('taskCountChart');
  canvas.width = container.clientWidth;
  canvas.height = container.clientHeight;

  var ctx = canvas.getContext('2d');
  var taskCountChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: dates,
      datasets: [{
        label: 'Tasks completed',
        data: counts,
        fill: false,
        borderColor: 'rgba(75, 192, 192, 1)',
        borderWidth: 2
      },
      {
        label: 'Tasks not completed',
        data: counts_not_completed,
        fill: false,
        borderColor: 'red',
        borderWidth: 2
      },
      {
        label: 'Total number of tasks',
        data: counts_total,
        fill: false,
        borderColor: 'black',
        borderWidth: 1,
        borderDash: [5, 5]
      }
      ]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  function handleDropdownChange(dropdown) {
      var selectedValue = dropdown.value;
      console.log("Selected option: " + selectedValue);
      if(selectedValue === "option1") {
        taskCountChart.data.labels = <%= @dates_completed.to_json.html_safe %>;
        taskCountChart.data.datasets[0].data = <%= @counts_completed.to_json.html_safe %>;
        taskCountChart.data.datasets[1].data = <%= @counts_not_completed.to_json.html_safe %>;
        taskCountChart.data.datasets[2].data = <%= @counts_total.to_json.html_safe %>;
      } else if (selectedValue === "option2") {
        taskCountChart.data.labels = <%= @dates_completed_week.to_json.html_safe %>;
        taskCountChart.data.datasets[0].data = <%= @counts_completed_week.to_json.html_safe %>;
        taskCountChart.data.datasets[1].data = <%= @counts_not_completed_week.to_json.html_safe %>;
        taskCountChart.data.datasets[2].data = <%= @counts_total_week.to_json.html_safe %>;
      }
      taskCountChart.update();
  }
</script>

