<%= render 'main/navbar' %>


<div class="container mt-4" style="margin-top: 5%;">
  <div class="row">
    <div class="col-xs-4">
        <h1>Trainee List</h1>
    </div>
    <div class="col-xs-4">
        <h1>Challange: <%= @challenge.name %> </h1>
    </div>
    <div class="col-xs-4">
        <h1>Total Count: <%= @trainees_ct %></h1>
    </div>
    </div>
    <div>
   
    </div>
     <div class="row">
    <div class="col-12">
      <div class="row">
        <% @trainees.each do |trainee| %>
         <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border: 1px solid #000;">
         <div class="card-body" style="padding: 10px">
        <h3 class="card-title"><%= trainee.user.id %>. <%= trainee.full_name %></h3>
        </div>
        </div>


        <% end %>
      </div>
    </div>
  </div>
    <%= will_paginate @trainees %>
    </div>












