<div>
<%= render 'main/navbar' %>
<div class="container d-flex justify-content-center align-items-center vh-100 vw-100" style="margin-top:10vh">
    <h3>Please enter valid email to refer an instructor.</h3>
    <%= form_with url: instructor_referral_path do |form| %>
        <%= form.label :email %>
        <%= form.email_field :email, autofocus: true %>
        <%= form.submit "Refer", id:"refer-button" %>
      <% end %>
      <br>
      <% if flash[:notice] %>
        <%= content_tag :p, flash[:notice] %>
    <% end %>
    <% if flash[:error] %>
        <%= content_tag :p, flash[:error] %>
    <% end %>
  </div>

</div>